* {
  box-sizing: border-box;
}

html,
body {
  background-color: #edecec;
  font: 100%/1.75 sans-serif;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

.timer {
  align-items: center;
  background-image: radial-gradient(#605e5e, #212121);
  border-radius: 50%;
  box-shadow: 0 0 0 15px #605e5e, 0 0 0 30px #edecec;
  color: #fff;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  height: 300px;
  margin: 1rem auto;
  width: 300px;
}

.timer-output {
  font-size: 2rem;
}

button {
  background: none;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  padding: 1rem 2rem;
}

.start-timer {
  background-color: #14bd14;
}

.start-timer:hover,
.start-timer:focus {
  background-color: #007b00;
  color: #fff;
}

.reset-timer {
  background-color: #eeee70;
}

.reset-timer:hover,
.reset-timer:focus {
  background-color: ##cc0;
}

.field-group {
  margin-top: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

[type="number"] {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 1rem;
  width: 300px;
}

footer {
  background-color: #212121;
  color: #fff;
  margin-top: auto;
  padding: 24px;
}

footer a:link,
footer a:visited {
  color: #fff;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2rem;
}

.hidden {
  display: none;
}

@media screen and (min-width: 64em) {
  .app {
    align-items: center;
    display: flex;
    gap: 48px;
    justify-content: center;
    padding: 48px;
  }

  .controls {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.ticks {
  fill: #fff;
}

.clock-hand {
  fill: #fff;
  height: 300px;
  width: 300px;
}

.clock-hand.animate {
  animation: 60s rotate linear infinite;
  transform-origin: 50% 50%;
}

.clock-hand-anchor {
  fill: #605f5f;
}

.pulse {
  animation: pulse 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 15px #605e5e, 0 0 0 15px rgba(238, 238, 112, 1);
  }
  50% {
    box-shadow: 0 0 0 15px #605e5e, 0 0 0 25px rgba(238, 238, 112, 0.5);
  }
  75% {
    box-shadow: 0 0 0 15px #605e5e, 0 0 0 35px rgba(238, 238, 112, 0.75);
  }
  100% {
    box-shadow: 0 0 0 15px #605e5e, 0 0 0 25px rgba(238, 238, 112, 0.25);
  }
}
